@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

body {
  background-color:dimgrey;
  color: white;
  font-family: 'Aboreto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-game {
  display: flex;
  background-color: darkgray;
}

.tile {
  background-color: darkblue;
  height: 80px;
  width: 110px;
  text-align: center;
  font-size: 65px;
  line-height: 80px;
  margin: 5px;
  padding: 10px;
  border-left: ridge rgba(0, 0, 255, 0.619);
  border-top: ridge blue;
  border-right: ridge rgba(0, 0, 255, 0.633);
  border-bottom: ridge rgba(0, 0, 255, 0.619)

}

