@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

body {
  background-color:dimgrey;
  color: white;
  font-family: 'Aboreto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-game {
  display: flex;
  background-color: darkgray;
}

.topic-title {
  text-align: center;
  font-size: 20px;
  background-color: darkblue;
  margin: 5px;
  padding: 5px;
}

.tile {
  background-color: darkblue;
  height: 90px;
  width: 130px;
  text-align: center;
  font-size: 65px;
  line-height: 80px;
  margin: 5px;
  padding: 10px;
  border-left: ridge rgba(0, 0, 255, 0.619);
  border-top: ridge blue;
  border-right: ridge rgba(0, 0, 255, 0.633);
  border-bottom: ridge rgba(0, 0, 255, 0.619)

}

.button-one {
  background-color: rgba(128, 128, 128, 0.836);
  color: white
}

.button-two {
  background-color: white;
  color: rgba(128, 128, 128, 0.836)
}

.correct-answer {
  background-color: rgba(0, 255, 213, 0.533);
}


.wrong-answer {
  background-color: darkred;
}

#at-image {
  border-radius: 20px;
  width: 300px;
  height: 300px;
}

#at-header {
  text-align: center;

}

#hidden-btn {
  background-color: dimgrey;
  color:rgba(128, 128, 128, 0.836);
  border: none; 
  margin: 5px;
  padding: 5px;

}

#music-link {
  margin: 20px;
  padding: 20px;
}